body {
  background-color: #33a690;
  color: #3f1d0e;
  margin: 20px;
  font-size: 20px;
  font-family: sans-serif;
}
h1, h2 {
  text-align: center;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
  font-style: italic;
}
h3 {
  font-size: 24px;
  text-decoration: underline;
}
ul {
  list-style-type: none;
}
p {
  line-height: 28px;
}
img {
  border: solid 20px;
  border-radius: 16px;
  border-color: purple;
  margin: 40px;
}